header {
    background-color: rgb(70, 70, 131);
    padding: 30px 15px 30px 15px;

    img {
        margin-left: 10px;
        border-radius: 15px;
        padding: 5px;
    }
}

.back {
    display: flex;
}

nav {
    margin-right: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    a {
        margin-right: 10px;
        padding: 10px;
        text-decoration: none;
        color: white;
        border: 2px solid white;
        border-radius: 10px;
        transition: all 0.4s;
        font-size: 18px;
        font-weight: 600;

        &:hover {
            background-color: rgb(157, 17, 185);
        }
    }

    i {
        margin-right: 10px;
        transition: all 0.4s;
    }
}

.link {
    display: flex;
}

@media only screen and (max-width: 767px) {

    header {
        padding: 0;
        padding-top: 20px;
    }

    nav {
        display: flex;
        flex-direction: column;
        margin: 0;
    }

    .link {
        margin-top: 50px;
        width: 100%;
        background-color: grey;
        justify-content: space-around;
        padding: 10px 0 10px 0;
    }
}




